/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  background-image: repeating-linear-gradient(var(--to-left-gradiend)),
    repeating-linear-gradient(var(--to-bottom-gradient)),
    linear-gradient(var(--to-top-gradiend));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight-text);
}

.container {
  inline-size: var(--container-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 102px 0 0 0;
  border: 2px solid var(--accent-color);
  padding: 128px var(--header-padding-r-l) 128px var(--header-padding-r-l);
  font-family: var(--accent-font), fantasy;
  background-color: var(--content-bg-color);
}

.header__title {
  padding-bottom: 20px;
  font-size: var(--header-title-size);
  text-transform: uppercase;
}

.header__subtitle {
  font-size: var(--header-subtitle-size);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 102px;
}

.lots__card-list-item {
  margin-block-end: 52px;
  border: 2px solid var(--accent-color);
}

.lots__card-list-item:last-child {
  margin-block-end: 45px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  font-family: var(--accent-font), sans-serif;
  background-color: var(--content-bg-color);
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1px;
  padding: var(--padding-card-text);
}

.card {
  overflow: hidden;
  background-color: var(--content-bg-color);
  inline-size: 100%;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  margin-inline-end: 4px;
  padding: 1px;
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s ease;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease 0.11s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleAnimation 0.3s ease-in 1 0.1s;
}

.like-icon.is-liked .sparks {
  animation: opacityAnimation 0.3s ease-in 1 0.3s;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-like-button);
  font-size: 14px;
  inline-size: 130px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: translateX(0);
  animation: hoverTranslateOut 0.5s ease-in-out forwards;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  animation: hoverTranslate 0.5s ease-in-out;
}

.button__text {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  color: var(--text-button-color);
  mix-blend-mode: difference;
}

.card__safe-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-end: 105px;
  padding: var(--padding-safe-button-pc);
  color: white;
  font-size: 14px;
  background-color: var(--content-bg-color);
  cursor: pointer;
}

.card__safe-button .card__safe-button-svg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  stroke: var(--content-bg-color);
  inline-size: 18px;
  block-size: 18px;
  /* при fill просто дискета пропадает */
  mix-blend-mode: difference;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: var(--padding-card-title-pc);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-weight-title);
}

.card__image {
  display: inline-block;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  max-inline-size: 100%;
}

.card__text {
  padding: var(--padding-card-text);
  font-size: 18px;
  line-height: 21px;
}

.card__text + p {
  padding-top: 0;
}

.card__image-container + p {
  margin-block-start: -4px;
  border-block-start: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 2vw;
  z-index: 1;
  opacity: var(--label-opacity);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: 1px 1px var(--text-shadow-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 0.5px var(--text-shadow-color)) or
  (-webkit-text-stroke: 1px var(--text-shadow-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 0.5px var(--text-shadow-color);
  }
}

.image-blur {
  filter: blur(0.2rem);
}

.image-saturate-low {
  filter: saturate(50%);
}

.image-saturate-high {
  filter: saturate(250%);
}

.image-sepia {
  filter: sepia(80%);
}
lots__card-list-item .image-huerot {
  filter: hue-rotate(20deg);
}

.image-invert {
  filter: invert(0.2);
}

.image-multi {
  filter: blur(0.1rem) opacity(0.7);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-dialog);
  transform: translateY(-8px);
}

.dialog::backdrop {
  background-color: var(--backdrop-bg-color);
  transition: backdrop-filter 1s ease;
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__svg {
  inline-size: 38px;
  block-size: 38px;
}

.dialog__title {
  padding-inline-start: 20px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--text-button-color);
  max-inline-size: 234px;
}

.dialog__container {
  display: flex;
  align-items: center;
  padding-block-end: 23px;
}

.dialog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  padding: var(--padding-dialog-button);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  transform: translateY(6px);
  cursor: pointer;
}

@media (width <= 375px) {
  .card__safe-button {
    flex-direction: column;
    padding: var(--padding-safe-button-mb);
  }

  .header {
    margin: 100px 0 101px 0;
    padding: 119px var(--header-padding-r-l) 120px var(--header-padding-r-l);
    inline-size: 100%;
  }

  .main {
    margin-block-start: 0;
  }

  .lots__card-list-item:last-child {
    margin-block-end: 49px;
  }

  .container {
    inline-size: 100%;
  }

  .card__safe-button .card__safe-button-svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__svg {
    transform: translateX(2px);
    scale: 2.5;
  }

  .dialog[open] {
    justify-content: center;
    padding: var(--padding-dialog-mb);
    transform: translateY(0);
  }

  .dialog__title {
    padding-inline-start: 0;
  }

  .dialog__container {
    gap: 35px;
    padding-block-end: 37px;
  }

  .dialog__button {
    padding: var(--padding-dialog-button-mb);
    transform: translateX(-3px) translateY(-7px);
  }
}
